/* ============================================
   INICIO ESTILOS DANNA MAJHLI AVALOS SANTOS
   ============================================ */
   
/****** ESTILOS PARA FORMULARIO DE CONTACTO *******/
body {
    background-image: url("img/fondo.jpg");
    background-size: cover;     
    background-repeat: no-repeat; 
    background-position: center; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form {
     width: 350px;
    padding: 25px;
    border-radius: 15px;

    background-image: url("img/fondocontacto.jpg");
    background-size: cover;        
    background-repeat: no-repeat;  
    background-position: center;   

    color: #fff; 
    background-color: rgba(0,0,0,0.3); 
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

.form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #0d0d0d;
}

.form label {
    font-weight: bold;
    display: block;
    margin-top: 15px;
    color: #444;
}

.form input,
.form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #d1d1d1;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s;
}

.form input:focus,
.form textarea:focus {
    border-color: #7b4bff;
}


.form textarea {
    height: 100px;
    resize: none;
}

.form button {
    width: 100%;
    background: #388390;
    color: white;
    padding: 12px 0;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    transition: background 0.3s;
}

.form button:hover {
    background: #5f34d6;
}

#resultado {
    text-align: center;
    margin-top: 15px;
    color: #333;
}


/******** SEPARACION PARA ESTILOS DE SUSCRIPCION **********/
/* El formulario de suscripción usa las MISMAS clases
   .container y .form para mantener el diseño uniforme */

#formSuscripcion button {
    background: #28a745;
}

#formSuscripcion button:hover {
    background: #1e7e34;
}

#resultadoSus {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

#formSuscripcion label {
    color: #390d0d;   
    font-weight: bold;
}


#formSuscripcion {
    background-image: url("img/fondosuscripcion.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0,0,0,0.25);
    color: #fff;
}

/* ============================================
   FINAL ESTILOS DANNA MAJHLI AVALOS SANTOS 
   ============================================ */
