/* ============================================
   INICIO ESTILOS DANNA MAJHLI AVALOS SANTOS
   ============================================ */
   
/******** SEPARACION PARA ESTILOS DE PAGINA PRINCIPAL **********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: url("img/fondo.jpg");
    color: #333;
}

.top-header {
    width: 100%;
    padding: 15px 30px;
    background: #ffffff;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    position: relative;  
}

.logo-derecha {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img {
    width: 90px;
    height: 90px;
}

.logo-text {
    font-size: 26px;
    font-weight: bold;
}

.retro {
    color: #8e44ff; 
}

.music {
    color: #000; 
}

.menu-derecha ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

.menu-derecha ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: 0.3s;
}

.menu-derecha ul li a:hover {
    color: #7f00ff;
}

.hero {
    background: 
        linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
        url('https://images.unsplash.com/photo-1511379938547-c1f69419868d?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
    background-size: cover;
    background-position: center;
    padding: 70px 20px; 
    text-align: center;
    color: white;
    margin-top: 0;
}

.hero h1 {
    font-size: 45px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

@media (max-width: 768px) {
    .top-header {
        flex-direction: column;
        gap: 15px;
    }

    .menu-derecha ul {
        flex-direction: column;
        gap: 10px;
    }

    .hero h1 {
        font-size: 32px;
    }
}

.footer {
    background: #111;
    color: #ccc;
    padding: 40px 20px 20px;
    margin-top: 50px;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
}


.footer-brand h2 {
    font-size: 28px;
    font-weight: bold;
}

.footer-brand .retro {
    color: #8e44ff; 
}

.footer-brand .music {
    color: #fff; 
}

.footer-brand p {
    max-width: 320px;
    margin-top: 10px;
    color: #ccc;
    line-height: 1.5;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-links a {
    color: #ccc;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.footer-links a:hover {
    color: #8e44ff;
}

.footer-bottom {
    text-align: center;
    margin-top: 25px;
    padding-top: 15px;
    border-top: 1px solid #333;
    font-size: 14px;
}


/* ============================================
   FINAL ESTILOS DANNA MAJHLI AVALOS SANTOS 
   ============================================ */
